.DS_Store

# Ignore bundler config.
/.bundle

/.powenv

.solargraph.yml

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore database.yml.
/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore dotenv file
.env

# VSCode configs
.vscode/

# node.js modules
node_modules/

.idea
.dir-locals.el
.env.test.example
